<a href="https://colab.research.google.com/github/irfankhan745/Daily-data-analytics-practice/blob/main/pandas_marge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
courses = pd.read_csv('/content/courses.csv')
students = pd.read_csv('/content/student_course.csv')
nov = pd.read_csv('/content/reg-month1.csv')
dec = pd.read_csv('/content/reg-month2.csv')
regs=pd.concat([nov,dec],keys=['nov','dec']).reset_index()
delivery = pd.read_csv('/content/deliveries.csv')

1. find total revenue generated

In [ ]:
regs = regs.merge(courses, how='inner', on='course_id')


regs.head()

,level_0,level_1,student_id,course_id,course_name_x,price_x,course_name_y,price_y
0,nov,0,23,1,python,2499,python,2499
1,nov,1,15,5,tableau,2499,tableau,2499
2,nov,2,18,6,power bi,1899,power bi,1899
3,nov,3,23,4,machine learning,9999,machine learning,9999
4,nov,4,16,9,plotly,699,plotly,699

In [ ]:
regs.columns

Index(['level_0', 'level_1', 'student_id', 'course_id', 'course_name',
       'price'],
      dtype='object')

In [ ]:
total_revenue = regs.groupby(['course_name','course_id'])['price'].sum()
total_revenue

course_name       course_id
data analysis     3            24995
machine learning  4            39996
ms sxcel          7             7995
pandas            8             4396
plotly            9             3495
power bi          6            11394
pyspark           10           14994
python            1            22491
sql               2             6998
tableau           5            17493
Name: price, dtype: int64

In [ ]:
regs.columns

Index(['level_0', 'level_1', 'student_id', 'course_id', 'course_name',
       'price'],
      dtype='object')

2. find month by month revenue

In [ ]:
total_mounth_revenue = regs.groupby(['level_0','course_name','course_id'])['price'].sum()
total_mounth_revenue

level_0  course_name       course_id
dec      data analysis     3             4999
         machine learning  4             9999
         ms sxcel          7             4797
         pandas            8             3297
         plotly            9             2796
         power bi          6             5697
         pyspark           10            9996
         python            1             7497
         sql               2             3499
         tableau           5            12495
nov      data analysis     3            19996
         machine learning  4            29997
         ms sxcel          7             3198
         pandas            8             1099
         plotly            9              699
         power bi          6             5697
         pyspark           10            4998
         python            1            14994
         sql               2             3499
         tableau           5             4998
Name: price, dtype: int64

"Using the regs and students DataFrames, find the total number of courses registered and the total revenue generated by each student in November and December. Display the results showing student name, month, total registrations, and total revenue."

In [ ]:
merged_df2 = regs.merge(students,on='student_id',how = 'inner')
monthly_summary = merged_df2.groupby(['name','level_0']).agg(total_revenue = ('price','sum')).reset_index()
monthly_summary.head()

                 name level_0  total_revenue
0      Chhavi Lachman     dec           3198
1      Chhavi Lachman     nov          19396
2  David Mukhopadhyay     dec           3598
3  David Mukhopadhyay     nov           1599
4        Elias Dodiya     dec           6598

Using the delivery DataFrame, calculate the total runs scored by each batting_team. Display the top 5 batting teams with the highest total runs.

In [ ]:
batting_team_runs = delivery.groupby(['batting_team'],as_index=False)['total_runs'].sum()
top_5_batting_team = batting_team_runs.sort_values(by='total_runs',ascending=False)
top_5_batting_team.head()

                   batting_team  total_runs
7                Mumbai Indians       24521
12  Royal Challengers Bangalore       23436
4               Kings XI Punjab       23068
6         Kolkata Knight Riders       21965
2              Delhi Daredevils       21953

In [ ]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [7]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

Using the delivery DataFrame, calculate the average runs conceded per over for each bowler. Identify the top 5 bowlers who have bowled at least 10 overs and have the highest average runs conceded per over (i.e., the most expensive bowlers).

In [32]:
# grouping
filter_by_bowler_name = delivery.groupby(['bowler'],as_index=False).agg(total_runs = ('total_runs','sum'),total_balls = ('ball','count'))

# overs
filter_by_bowler_name['overs'] = filter_by_bowler_name['total_balls'] / 6

# filter bowlers with at least 10 overs
filter_by_bowler_name = filter_by_bowler_name[filter_by_bowler_name['overs'] >= 10]

# average runs conceded per over
filter_by_bowler_name['run_avg'] = round(filter_by_bowler_name['total_runs'] / filter_by_bowler_name['overs'],2)

# top 5 most expensive bowlers
filter_by_bowler_name.sort_values(by = 'run_avg',ascending=False)

                bowler  total_runs  total_balls       overs  run_avg
330       TP Sudhindra         137           74   12.333333    11.11
216         P Amarnath         241          132   22.000000    10.95
273           S Narwal         203          113   18.833333    10.78
157          KJ Abbott         182          102   17.000000    10.71
140    JJ van der Wath         134           76   12.666667    10.58
..                 ...         ...          ...         ...      ...
300          SP Narine        2085         1956  326.000000     6.40
1           A Chandila         245          234   39.000000     6.28
347  Washington Sundar         189          182   30.333333     6.23
318      Sohail Tanvir         275          265   44.166667     6.23
205      Mohammad Nabi          59           66   11.000000     5.36

[258 rows x 5 columns]